.container {
	width: 960px; 
	margin: 0 auto;
	font-family: "PT sans", sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

a {text-decoration: none;}
h2 {
	font-weight: bold;
	font-size: 26px;
	margin: 0;
}

header {
	background-color: #ffcd34;
	overflow: hidden;
}


.stripes {
  	float: left;
  	width: 100%;
  	height: 14px;
    background-image: linear-gradient(135deg, #FFCD34 30%,black 30%,black 70%,#ffcd34 65%);
  	background-size: 30px 14px;
}
.logo {
	display: inline-block;
	line-height: 75px;
	width: 220px;
	float: left;
}
.logo-link-img {
	vertical-align: middle;
	width: 75px;
	margin-right: 16px;
}
.logo-link-text{
	vertical-align: middle;
	font-weight: bold;
	font-size: 24px;
}
.logo-link-text{
		color: black;
}
.logo-link-text-24 {
	font-weight: normal;
}
.main-menu {
	float: left;
	line-height: 45px;
	width: 546px;

}

.main-menu__li {
	display: inline-block;		
}
.main-menu__link {
	color:black;
	padding: 14px;
	font-size: 16px;
	border: 2px solid transparent;
}
.main-menu__link--active {
	font-weight: bold;
	color: black;
}
.main-menu__ul:first-child {
	margin-left: 64px;
}

.main-menu__link:hover {
	border: 2px solid #bc9d36;
}
.main-menu__link:hover:active {
	border: 2px solid #796e38;
}

.btn-order:hover {
	background-color: #ffecb2;
}
.btn-order:hover:active {
	background-color: #f6bf16;
}
.main-menu--footer {
	color:white;
}
/*.header:after {
	content:'';
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}*/



.btn-order {
	width: 174px;
	padding: 15px;
	float: right;
	border: none;
	cursor:pointer;
	margin-top: 15px;
	background-color: #ffe184;
}

input, button {
	border: 0px;
	outline:none;
}

.logo-link {
	color: #735c17;
}
/*main-menu добавить модификатор,бэм*/
.main-menu__link--footer {color: white;}

.logo-link-text--footer{
		color: #ffcd34;
}
.main-menu__link--footer:hover {
	border: 2px solid #636d76;
}
.main-menu__link--footer:hover:active {
	border: 2px solid #a6abb1;
}
footer {
	background-color: #202e3b;
	overflow: hidden;
}
.btn-order--footer{
	color: #d2ad35;
	background-color: transparent;
}
.btn-order--footer:hover {
	background-color: transparent;
}
.btn-order--footer:hover:active {
	background-color: transparent;
}
.promo {
	background-image: url(../img/main-bg.jpg);

	background-repeat: no-repeat;
	-webkit-background-size: ;
	background-size: cover;
	height: 460px;

}
.promo {
	text-align: center;
}
.promo-tagline {
	color:white;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 120px;
	
}
.promo-text {
	color: white;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 30px;

}
.promo-link {
	position: relative;
	/*display: inline-block;*/
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 50px 10px 20px;
	border: 2px solid #ffcd34;

}
.promo-link:hover{
	border: 2px solid #ffd966;
}
.promo-link:hover:active{
	border: 2px solid #ffe390;
}
.promo-link:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    /* background-color: #000; */
    border-right: 5px solid white;
    border-top: 5px solid  white;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0px;
    margin-right: 25px;
  }

.consult {
	height: 177px;
	background-color: #202e3b;
	margin-top: 14px;
	letter-spacing: 0;

}
.consult__title {
	color:#ffcd34;
	font-weight: normal;
	font-size: 24px;
	padding: 40px 0px; 
}
.consult__input{
	width: 218px;
	line-height: 43px;
	border: 1px solid #ffcd34;
	background-color: transparent;
	color: white;
	margin-right: 10px;
	padding: 0;
	padding-left: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.consult__input:last-child {
	margin-right: 0;
	border: 0px;
	line-height: 45px;
	padding-left: 0;
} 
.consult__input[placeholder] {
	color: white;

}
.consult input[placeholder]::-webkit-input-placeholder {color:white;}
.consult input[placeholder]::-moz-placeholder          {color:white;}
.consult input[placeholder]:-moz-placeholder           {color:white;}
.consult input[placeholder]:-ms-input-placeholder      {color:white;}

.consult__submit {
	width: 220px;
	background-color: #ffcd34;
	color: #202e3b;
	font-weight: bold;
	font-size: 18;
}
.consult__submit:hover {
	background-color: #ffd966;
}
.consult__submit:hover:active {
	background-color: #f6bf16;
}
.advantages {
	height: 135px;
	font-size: 13px;
	letter-spacing: 0;
	padding: 32px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.advantages-tools, .advantages-worker, .advantages-border, .advantages-operator{	
	width: 220px;	
	display: block;
	float: left;
	margin-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 60px;
	position: relative;
}

.advantages-operator{	
	margin-right: 0;
}

.advantages-tools:before,.advantages-worker:before,.advantages-border:before,.advantages-operator:before{
		content:'';
		position: absolute;
		width: 40px;
		height: 40px;
		background-image: url(../img/instruments.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		display: block;
		top:0;
		bottom:0;
		left:0;
		margin: auto;
		background-repeat: no-repeat;
	}

.advantages-worker:before{
		background-image: url(../img/worker.svg);
	}

.advantages-border:before{
		background-image: url(../img/border.svg);
	}

.advantages-operator:before{
	background-image: url(../img/specialist.svg);
}


/*.advantages:after {
	content:'';
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}
*/

.technics {
	background-color: #f3f3f3;
	height: 400px;
}
.technics:after {
	content: '';
	display: block;
	clear: both;
}
.technics:before{
	content: '';
	display: block;
	clear: both;
}
.technics-nav {
	display: block;
	float: left;
	width: 220px;
	padding: 23px 0;
}
.technics-nav__title{
	margin: 22px 0;
}
.technics-nav__li {
    list-style-type: none;
    line-height: 36px;
}
.technics-nav__ul {
	padding: 0;

}
.technics-nav__link{
	text-decoration: underline;
	color: #202e3b;

}
.technics-special {
	display: block;
	float: left;
	margin-left: 20px;
	width: 700px;
	padding: 23px 0;
}
.technics-special h2{
	margin: 22px 0;
}

table {
	    border-collapse: collapse;
}
thead {
		background-color: #dfdfdf;
		font-size: 16px;
		font-weight: bold;

}
.technics-special td {
	padding: 0 60px 0 0;
	height: 36px;
}
.technics-special td:last-child {
	padding-right: 90px;
}
.technics-special td:first-child {
	padding-left: 10px;
	padding-right: 120px;
}
tbody tr:nth-child(even) {
	background-color: white;
}
.about {
	height: 435px;
	background-color: #202e3b;
	margin-top: 14px;
	letter-spacing: 0;
}
.about:after {
	content: '';
	display: block;
	clear: both;
}
.numbers {
	float: left;
	width: 300px;
}
.reply {
	float: left;
	margin-left: 20px;
	width: 620px;
	overflow: hidden;
}
.numbers__title, .reply__title{
	color: white;
	padding: 50px 0 35px 0;
}
.numbers-unbold {
	font-weight: normal;
}
.numbers__ul{
	padding: 0;
}
.numbers__li {
	list-style-type: none;
    color: #9e9e9e;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}
.numbers-number{
	margin-right: 18px;
	font-size: 38px;
	color: #f1b132;
	position: relative;
	top:5px;
}
.reply-item:after {
	content: '';
	display: block;
	clear: both;
}
.reply-item {
	width: 600px;
	height: 120x;

}
.reply__img {
	float: left;
	padding-right: 20px;
}
.reply blockquote {
	margin: 0;
}
.reply-item-comment {
	color: #ffffff;
	font-style: italic;
	font-size: 18px;
}
.reply-author {
	color: #f1b132;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
}
.index-map {
	margin-top: 14px;
}
.rent {
	background-image: url(../img/catalog_bg2.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 190px;
}
.rent:after {
	content: '';
	clear: both;
	display: block;
}
.rent:before {
	content: '';
	clear: both;
	display: block;
}
.rent-left {
	float: left;
		width: 600px;
}
.rent-left h1 {
	margin: 0;
	padding: 50px 0 0 0;
	font-size: 26px;
	color: #ffcd34;
	font-weight: normal;
	text-transform: none;
}
.rent-left p{
	color: white;

	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
}
.rent-right {
	float: right;
	width: 240px;
	padding: 57px 0 0 0;
	
}
.rent__link, .contacts__link {
	color: #202e3b;
	padding: 15px 20px;
	background-color: #ffcd34;
	font-size: 18px;
	font-weight: bold;

}
.rent__link:hover{background-color: #ffd966;}
.rent__link:hover:active{background-color: #f6bf16;}
.rent__text{
	margin-top: 31px;
	color: white;
}
.catalog {
	background-color: #f3f3f3;
	height: 965px;
/*	overflow: hidden;*/
}
/*.catalog:after {
	content: '';
	clear: both;
	display: block;
}*/
.catalog .technics-nav {
	position: relative;
}
.catalog .technics-nav h2 {
	margin-left: 46px;
}
.catalog .technics-nav h2:before {
	content: '';
	background-image: url(../img/truck_icon_copy.svg);
	width: 30px;
	height: 25px;
	position: absolute;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	left:0;
}

.catalog-cats {
	float: left;
	width: 620px;
	margin-left: 80px;
}
/*.catalog-cats :after {
	content: '';
	clear: both;
	display: block;
}*/
.technics-nav-active {
	font-weight: bold;
	position: relative;
	margin-left: 17px;
}
.technics-nav-active:before {
	content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 3px solid #202e3b;
    border-top: 3px solid  #202e3b;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
}
.catalog .technics-load {
	position: relative;
	background-color: #354b60;
	color:white;
	padding: 10px 22px 10px 38px;
	text-decoration: none;
}
.catalog .technics-load:before {
	content: '';
	background-image: url(../img/download.svg);
	width: 18px;
	height: 18px;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	left: 10px;
}
.catalog .technics-load:hover {
	background-color: #46617a;
}
.catalog .technics-load:hover:active {
	background-color: #567999;
}
.cat {
	float: left;
	/*height: 400px;*/
	width: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
	margin-right: 20px;
	margin-top: 20px;
	padding: 28px 30px 35px 30px;
	overflow: hidden;
}
.catalog .cat:nth-child(even) {margin-right: 0;}
.cat h2 {
	width: 200px;
	font-size: 21px;
	padding-bottom: 25px;
}
.cat-span {
	display: inline-block;
	padding-top: 40px;
	font-weight: bold;
	font-size: 20px;

}
.cat a{
	width: 120px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	color: white;
	float: left;
	margin-top: 25px;

}
.cat-rent {
	background-color: #f3c331;
}
.cat-more {
	background-color: #354b60;
}
.cat-rent:hover {
	background-color: #ffd966;
}
.cat-rent:hover:active {
	background-color: #ffc600;
}
.cat-more:hover {
	background-color: #46617a;
}
.cat-more:hover:active {
	background-color: #567999;
}
.breadcrumbs {
	/*margin-top: 20px; */
	margin-left: 200px;
	float: left;
	margin-top: 20px;
}

.breadcrumbs li {
	display: inline-block;
	
}
.breadcrumbs-page {
	text-decoration: none;
	color: #353535;
	padding: 3px 5px;
	margin-left: 7px;
	border-radius: 2px;
	border: 2px solid transparent;
}
.breadcrumbs-page:hover {
	border: 2px solid #9aa5af;
}
.breadcrumbs-page:hover:active {
	border: 2px solid #354b60;
}
.breadcrumbs-active {
	color: white;
	background-color: #354b60;
}
.cat-special-sale {
	color: #d12222;
	text-decoration: line-through;
	padding-right: 15px;
}
.special:after {
	content: '';
	clear: both;
	display: block;
}
.new{ position: relative; }
.new:before {
	content: 'new';
	position: absolute;
	background-color: #00c22e;
    padding: 12px 50px 10px 50px;
	font-size: 21px;
	font-weight: bold;
	color: white;
	transform: rotate(45deg);
	right:-35px;
	top:10px;
}
.sale{ position: relative; }
.sale:before {
	content: 'sale';
	position: absolute;
	background-color: #d12222;
    padding: 12px 50px 10px 50px;
	font-size: 21px;
	font-weight: bold;
	color: white;
	transform: rotate(45deg);
	right:-35px;
	top:10px;
}
.special {
	background-image: url(../img/catalog_bg1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 540px;
}
.special:after {
	content: '';
	display: block;
	clear: both;
}
.special .cat:last-child {margin-right: 0;}

.modal-callme {
	display:none;
}
.portfolio-menu {
	background-image: url(../img/r800lc-7a_l__0.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
.portfolio-tagline {
	font-size: 24px;
	font-weight: normal;
	color: #b09331;
	padding: 45px 0;
	float: left;
	margin-right: 20px;
	width: 220px;
}

.portfolio-menu__nav{
	width: 700px;
	float: left;
	text-align: right;
}
.portfolio-menu__nav ul {
	padding: 0;
	margin: 0;
}
.portfolio-menu__nav li {
	display: inline-block;	
}
.portfolio-menu__link {
	text-decoration: underline;
	color: white;
	float: left;
	padding: 50px 0px 40px 45px;
}
.portfolio-menu__link:hover {
	font-weight: bold;

}
.portfolio-menu__link:hover:active {
	text-decoration: none;
}

.color-black {
	background-color: black;
}

.house-one, .house-two, .house-three {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
	height: 400px;
	padding-top: 100px;
}
.house-one {
	background-image: url(../img/portfolio1.jpg);
}
.house-two {
	background-image: url(../img/portfolio2.jpg);
}
.house-three {
	background-image: url(../img/portfolio3.jpg);
}
.house__title {
	font-weight: bold;
	font-size: 20px;
	color: #202e3b;
}
.house {
	background-color: white;
	width: 262px;
	height: 185px;
	padding: 30px;
}
.house__text {
	font-size: 14px;
	line-height: 20px;
}
.house__link {
	position: relative;
	color: #1d333f;
	font-weight: bold;
	font-size: 15px;
	padding: 11px 37px 11px 17px;
	background-color: #ffcd34;
	display: inline-block;
}
.house__link:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-right: 2px solid #202e3b;
    border-top: 2px solid  #202e3b;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0px;
    margin-right: 14px;
  }
  .house__link:hover {
  	background-color: #ffd966;
  }
    .house__link:hover:active {
  	background-color: #f6bf16;
  }

  .contacts {
	background-image: url(../img/contacts_bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
 .contacts__tagline {
	font-size: 24px;
	font-weight: normal;
	color: #b09331;
	padding: 45px 0;
	margin: 0;
	width: 120px;
	/* vertical-align: middle; */
	display: inline-block;

}
.contacts__text {
	color: white;
	/*vertical-align: middle;*/
	padding: 45px 0 ;
	margin: 0;
	display: inline-block;
}
.contacts__link {
	display: inline-block;
	float: right;
	margin-top: 35px;
}

.map {
	background-color: #f3f3f3;
	padding-bottom: 50px;
}
.map-map {
	float: left;
	margin-right: 20px;
	margin-top: 40px;
}
.map-consult {
	float: left;
	width: 300px;
	margin-top: 40px;
}
.map:after {
	content: '';
	display: block;
	clear: both;
}
.map-consult__phone,.map-consult__letter {
	float: left;
	position: relative;
	padding-left: 38px;
}
.map-consult__phone:before {
	content: '';
	background-image: url(../img/phone.svg);
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	left:0;
}
.map-consult__letter:before {
	content: '';
	background-image: url(../img/mail.svg);
	position: absolute;
	width: 22px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	left:0;
}
.map-consult__letter {
	margin-top: 25px;
}
.map-consult__paragraph {
	float: left;
}

.map-consult__name, .map-consult__number{
	width: 288px;
	border: 1px solid #d5d5d5;
	height: 38px;
	padding-left: 12px;
	margin-bottom: 10px;
}
.map-consult__text {
	width: 280px;
	border: 1px solid #d5d5d5;
	height: 92px;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
}
.map-consult__submit {
	width: 300px;
	height: 45px;
	background-color: #354b60;
	color: white;
	font-size: 18px;
	float: left;
}

.review {
	overflow: hidden;
	padding-top: 38px;
}
.review:after{
	content: '';
	display: block;
	clear: both;
}
.review-item {
	width: 220px;
	height: 366px;
	float: left;
	text-align: center;
}
.review-item-bq-text {
	font-size: 14px;
	font-style: italic;
	color: #202e3b;
}

.review-author{
	font-weight: bold;
	font-style: normal;
	color: #202e3b;
}