.container {
	width: 960px; 
	margin: 0 auto;
	font-family: "PT sans", sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

a {text-decoration: none;}
h2 {
	font-weight: bold;
	font-size: 26px;
	margin: 0;
}

header {
	background-color: #ffcd34;
	overflow: hidden;
}

header .header-menu .header-menu-active {
	font-weight: bold;
	color: black;
}
.stripes {
  	float: left;
  	width: 100%;
  	height: 14px;
    background-image: linear-gradient(135deg, #FFCD34 30%,black 30%,black 70%,#FFCD34 65%);
  	background-size: 30px 14px;
}
.logo {
	display: inline-block;
	line-height: 75px;
	width: 220px;
	float: left;
}
.logo-link-img {
	vertical-align: middle;
	width: 75px;
	margin-right: 16px;
}
.logo-link-text{
	vertical-align: middle;
	font-weight: bold;
	font-size: 24px;
}
header .logo-link-text{
		color: #000;
}
.logo-link-text-24 {
	font-weight: normal;
}
.header-menu {
	float: left;
	line-height: 45px;
	width: 546px;

}

.header-menu li {
	display: inline-block;		
}
.header-menu a {
	padding: 14px;
	font-size: 16px;
	border: 2px solid transparent;
}
.header-menu ul:first-child {
	margin-left: 64px;
}

header .header-menu a:hover {
	border: 2px solid #bc9d36;
}
header .header-menu a:hover:active {
	border: 2px solid #796e38;
}

header .btn-order:hover {
	background-color: #ffecb2;
}
header .btn-order:hover:active {
	background-color: #f6bf16;
}
/*.header:after {
	content:'';
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}*/

header button {
	background-color: #ffe184;
}
.btn-order{
	width: 174px;
	padding: 15px;
	float: right;
	border: none;
	cursor:pointer;
	margin-top: 15px;
}
input,button{outline:none;}

header .header-menu a {
	color: #735c17;
}
footer .header-menu a {
	color: white;
}
footer .logo-link-text{
		color: #ffcd34;
}
footer .header-menu a:hover {
	border: 2px solid #636d76;
}
footer .header-menu a:hover:active {
	border: 2px solid #a6abb1;
}
footer {
	background-color: #202e3b;
	overflow: hidden;
}
footer button {
	color: #d2ad35;
	background-color: transparent;
}
.promo {
	background-image: url(../img/main-bg.jpg);

	background-repeat: no-repeat;
	-webkit-background-size: ;
	background-size: 100%;
	height: 460px;

}
.promo {
	text-align: center;
}
.promo-tagline {
	color:white;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 120px;
	
}
.promo-text {
	color: white;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 30px;

}
.promo-link {
	position: relative;
	/*display: inline-block;*/
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 50px 10px 20px;
	border: 2px solid #ffcd34;

}
.promo-link:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    /* background-color: #000; */
    border-right: 5px solid white;
    border-top: 5px solid  white;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0px;
    margin-right: 25px;
  }

.consult {
	height: 177px;
	background-color: #202e3b;
	margin-top: 14px;
	letter-spacing: 0;

}
.consult h2 {
	color:#ffcd34;
	font-weight: normal;
	font-size: 24px;
	padding: 40px 0px; 
}
.consult input {
	width: 218px;
	line-height: 43px;
	border: 1px solid #ffcd34;
	background-color: transparent;
	color: white;
	margin-right: 10px;
	padding: 0;
	padding-left: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.consult input:last-child {
	margin-right: 0;
	border: 0px;
	line-height: 45px;
	padding-left: 0;
} 
.consult input[placeholder] {
	color: white;

}
.consult input[placeholder]::-webkit-input-placeholder {color:white;}
.consult input[placeholder]::-moz-placeholder          {color:white;}
.consult input[placeholder]:-moz-placeholder           {color:white;}
.consult input[placeholder]:-ms-input-placeholder      {color:white;}

.consult input[type="submit"] {
	width: 220px;
	background-color: #ffcd34;
	color: #202e3b;
	font-weight: bold;
	font-size: 18;
}
.advantages {
	height: 135px;
	font-size: 13px;
	letter-spacing: 0;
	padding: 32px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.advantages-tools{	
	width: 220px;	
	display: block;
	float: left;
	margin-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 60px;
	position: relative;
}
.advantages-tools:before{
		content:'';
		position: absolute;
		width: 40px;
		height: 40px;
		background-image: url(../img/instruments.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		display: block;
		top:0;
		bottom:0;
		left:0;
		margin: auto;
		background-repeat: no-repeat;
	}
.advantages-worker{		
	width: 220px;	
	display: block;
	float: left;
	margin-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 60px;
	position: relative;
}
.advantages-worker:before{
		content:'';
		position: absolute;
		width: 40px;
		height: 40px;
		background-image: url(../img/worker.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		display: block;
		top:0;
		bottom:0;
		left:0;
		margin: auto;
		background-repeat: no-repeat;
	}
.advantages-border{	
	width: 220px;	
	display: block;
	float: left;
	margin-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 60px;
	position: relative;
	

}
.advantages-border:before{
		content:'';
		position: absolute;
		width: 40px;
		height: 40px;
		background-image: url(../img/border.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		display: block;
		top:0;
		bottom:0;
		left:0;
		margin: auto;
		background-repeat: no-repeat;
	}
.advantages-operator{	
	width: 220px;	
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 60px;
	position: relative;
}
.advantages-operator:before{
		content:'';
		position: absolute;
		width: 40px;
		height: 40px;
		background-image: url(../img/specialist.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		display: block;
		top:0;
		bottom:0;
		left:0;
		margin: auto;
		background-repeat: no-repeat;
	}
/*.advantages:after {
	content:'';
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}
*/
.technics {
	background-color: #f3f3f3;
	height: 400px;
}
.technics:after {
	content: '';
	display: block;
	clear: both;
}
.technics-nav {
	display: block;
	float: left;
	width: 220px;
	padding: 23px 0;
}
.technics-nav h2{
	margin: 22px 0;
}
.technics-nav li {
    list-style-type: none;
    line-height: 36px;
}
.technics-nav ul {
	padding: 0;

}
.technics-nav a {
	text-decoration: underline;
	color: #202e3b;

}
.technics-special {
	display: block;
	float: left;
	margin-left: 20px;
	width: 700px;
	padding: 23px 0;
}
.technics-special h2{
	margin: 22px 0;
}

table {
	    border-collapse: collapse;
}
thead {
		background-color: #dfdfdf;
		font-size: 16px;
		font-weight: bold;

}
.technics-special td {
	padding: 0 60px 0 0;
	height: 36px;
}
.technics-special td:last-child {
	padding-right: 90px;
}
.technics-special td:first-child {
	padding-left: 10px;
	padding-right: 120px;
}
tbody tr:nth-child(even) {
	background-color: white;
}
.about {
	height: 435px;
	background-color: #202e3b;
	margin-top: 14px;
	letter-spacing: 0;
}
.about:after {
	content: '';
	display: block;
	clear: both;
}
.numbers {
	float: left;
	width: 300px;
}
.reply {
	float: left;
	margin-left: 20px;
	width: 620px;
	overflow: hidden;
}
.about h2 {
	color: white;
	padding: 50px 0 35px 0;
}
.about .numbers-unbold {
	font-weight: normal;
}
.about ul{
	padding: 0;
}
.about li {
	list-style-type: none;
    color: #9e9e9e;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}
.numbers-number{
	margin-right: 18px;
	font-size: 38px;
	color: #f1b132;
	position: relative;
	top:5px;
}
.reply-item:after {
	content: '';
	display: block;
	clear: both;
}
.reply reply-item {
	width: 600px;
	height: 120x;

}
.reply img {
	float: left;
	padding-right: 20px;
}
.reply blockquote {
	margin: 0;
}
.reply-item-comment {
	color: #ffffff;
	font-style: italic;
	font-size: 18px;
}
.reply-author {
	color: #f1b132;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
}
.index-map {
	margin-top: 14px;
}
.rent {
	background-image: url(../img/catalog_bg2.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 190px;
}
.rent:after {
	content: '';
	clear: both;
	display: block;
}
.rent:before {
	content: '';
	clear: both;
	display: block;
}
.rent-left {
	float: left;
		width: 600px;
}
.rent-left h1 {
	margin: 0;
	padding: 50px 0 0 0;
	font-size: 26px;
	color: #ffcd34;
	font-weight: normal;
	text-transform: none;
}
.rent-left p{
	color: white;

	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
}
.rent-right {
	float: right;
	width: 340px;
	padding: 43px 0;
	
}
.rent-right a{
	/*margin-top: 43px;*/
	color: #202e3b;
	padding: 15px 20px;
	background-color: #ffcd34;
	font-size: 18px;
}
.rent-right p{
	margin-top: 31px;
	color: white;
}
.catalog .technics-nav {
	position: relative;
}
.technics-nav h2 {
	margin-left: 46px;
}
.technics-nav h2:before {
	content: '';
	background-image: url(../img/truck_icon_copy.svg);
	width: 30px;
	height: 25px;
	position: absolute;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	left:0;
}

.catalog-cats {
	float: left;
	width: 620px;
	margin-left: 80px;
}