.container {
	width: 960px; 
	margin: 0 auto;
	font-family: "PT sans", sans-serif;
}

a {text-decoration: none;}

header {
	background-color: #ffcd34;
	overflow: hidden;
}

header .header-menu .header-menu-active {
	font-weight: bold;
	color: black;
}
.stripes {
  	float: left;
  	width: 100%;
  	height: 14px;
    background-image: linear-gradient(130deg, #FFCD34 35%,black 35%,black 65%,#FFCD34 65%);
  	background-size: 35px 20px;
}
.logo {
	display: inline-block;
	line-height: 75px;
	margin-left: 10px;
}
.logo-link-img {
	vertical-align: middle;
	width: 75px;
	margin-right: 16px;
}
.logo-link-text{
	vertical-align: middle;
	font-weight: bold;
	font-size: 24px;
}
header .logo-link-text{
		color: #000;
}
.logo-link-text-24 {
	font-weight: normal;
}
.header-menu {
	float: right;
	line-height: 45px;
}

.header-menu li {
	display: inline-block;		
}
.header-menu a {
	padding: 14px;
	font-size: 16px;
	border: 2px solid rgba(255, 205, 52, 0);
}
button {
	background: none; 
	border: none;
	padding: 17px 27px;
}

header .header-menu a:hover {
	border: 2px solid #bc9d36;
}
header .header-menu a:hover:active {
	border: 2px solid #796e38;
}

header .header-menu button:hover {
	background-color: #ffecb2;
}
header .header-menu button:hover:active {
	background-color: #f6bf16;;
}
header button {
	background-color: #ffe184;
}
header .header-menu a {
	color: #735c17;
}
footer .header-menu a {
	color: white;
}
footer .logo-link-text{
		color: #ffcd34;
}
footer .header-menu a:hover {
	border: 2px solid #636d76;
}
footer .header-menu a:hover:active {
	border: 2px solid #a6abb1;
}
footer {
	background-color: #202e3b;
	overflow: hidden;
}
footer button {
	color: #d2ad35;
}